.burger {
  @include resetButton;

  width: 36px;
  height: 28px;
  position: relative;
  display: none;
  justify-content: center;

  &__line, &::after, &::before {
    position: absolute;
    display: flex;
    width: 30px;
    height: 2px;
    background-color: $primary;
  }

  &__line {
    top: calc(50% - 1px);
  }

  &::before {
    content: "";
    top: 3px;
  }

  &::after {
    content: "";
    bottom: 3px;
  }
}

@media (max-width: 767px) {
  .burger {
    display: flex;
  }
}