.link {
  text-decoration: none;
  color: var(--text-primary-light);
  font-size: 15px;
  line-height: 24px;

  &:hover {
    color: var(--color-lighten);
  }

  &--active, &:active {
    color: var(--color-lighten);
    border-bottom: 3px solid var(--color-primary);
  }
}