.slider {
  position: relative;
  width: 100%;
}

.slider-buttons {
  position: absolute;
  width: 100%;
  top: 50%;

  &__button {
    position: absolute;
    display: inline-block;
    width: 52px;
    height: 52px;
    margin: 0;
    padding: 0;
    background: none;
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    top: calc(50% - 26px);
    cursor: pointer;
    @extend %transition;

    &:hover {
      background-color: var(--color-primary-light);
      border: 2px solid var(--color-primary-light);
    }

    &:disabled {
      pointer-events: none;
      border-color: $inactive;

      & svg {
        fill: $inactive;
      }
    }

    &--back {
      left: 0;
    }

    &--next {
      right: 0;
    }

    .slider-buttons__icon {
      width: 14px;
      height: 6px;
      top: calc(50% - 3px);
      left: calc(50% - 7px);
      fill: var(--color-dark);

      &--next {
        transform: rotate(180deg);
      }
    }
  }
}

@media (max-width: 1280px) {
  .slider {
    &__arrow {
      &--back {
        left: -64px;
      }

      &--next {
        right: -64px;
      }
    }
  }
}