.h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 57.2px;
}

.h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 0.14rem;    
  color: $title-dark;
}

.text {
  font-size: 15px;
  line-height: 24px;
}