.h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 57.2px;
}

.h3 {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 0.06em;    
  color: $title-dark;
}

.h4 {
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 23px;
  color: $title-dark;
  letter-spacing: 0.06em;
  margin: 0;
}

.h5 {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 16.5px;
  letter-spacing: 0.06em;
  color: $title-dark;
}

.text {
  font-size: 15px;
  line-height: 24px;
}

.text-s {
  margin: 0;
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: $text-lightgray;
}