@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Georgia-Regular.woff2") format("woff2"), url("../../fonts/Georgia-Regular.woff") format("woff");
}
@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Arial-Regular.woff2") format("woff2"), url("../../fonts/Arial-Regular.woff") format("woff");
}
@font-face {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  src: url("../../fonts/Arial-Italyc.woff2") format("woff2"), url("../../fonts/Arial-Italyc.woff") format("woff");
}
.page *, .page *:before, .page *:after {
  box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 40px;
}

:root {
  --dark-bg: #262425;
  --light-bg: #f6f6f6;
  --color-dark: #292929;
  --text-primary-light: #cdcdcd;
  --color-primary:#f1cdb3;
  --color-primary-light:#fddcc4;
  --color-lighten: #fafafa;
}

.logo {
  display: flex;
  flex-direction: column;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  text-decoration: none;
}
.logo__title {
  font-size: 32px;
  line-height: 35px;
  font-weight: 400;
  letter-spacing: 0.06em;
  margin: 0;
  margin-bottom: 9px;
}
.logo__subtitle {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  letter-spacing: 0.1em;
  line-height: 15px;
}

.link {
  display: block;
  text-decoration: none;
  font-size: 15px;
  line-height: 24px;
}

.button {
  width: 207px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 15px 5px;
  text-decoration: none;
  background-color: var(--color-primary);
  border-radius: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
  line-height: 22.1px;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.button:hover {
  background-color: var(--color-primary-light);
}

.h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 57.2px;
}

.h3 {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 0.06em;
  color: #545454;
}

.h4 {
  font-weight: 400;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 23px;
  color: #545454;
  letter-spacing: 0.06em;
  margin: 0;
}

.h5 {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 16.5px;
  letter-spacing: 0.06em;
  color: #545454;
}

.text {
  font-size: 15px;
  line-height: 24px;
}

.text-s {
  margin: 0;
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
}

.slider {
  position: relative;
}
.slider .slider__arrow-icon {
  position: relative;
  top: -2px;
  width: 14px;
  height: 6px;
  fill: var(--color-dark);
}
.slider .slider__arrow-icon--next {
  transform: rotate(180deg);
}
.slider__arrow {
  cursor: pointer;
  margin: 0;
  padding: 0;
  background: none;
  display: inline-block;
  position: absolute;
  width: 52px;
  height: 52px;
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  top: calc(50% - 26px);
}
.slider__arrow:hover {
  background-color: var(--color-primary-light);
  border: 2px solid var(--color-primary-light);
}
.slider__arrow:disabled {
  pointer-events: none;
  border-color: #cdcdcd;
}
.slider__arrow:disabled svg {
  fill: #cdcdcd;
}
.slider__arrow--back {
  left: -105px;
}
.slider__arrow--next {
  right: -105px;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  position: relative;
  display: flex;
}
.header__wrapper {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo-title {
  color: #f1cdb3;
}
.header__logo-subtitle {
  color: #ffffff;
}

.header--pets {
  position: sticky;
  min-height: 120px;
}
.header--pets .header__wrapper {
  position: static;
}
.header--pets .header__wrapper .header__logo-title {
  color: #545454;
}
.header--pets .header__wrapper .header__logo-subtitle {
  color: #292929;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 35px;
}
.nav__link {
  color: #cdcdcd;
}
.nav__link:hover {
  color: #fafafa;
}
.nav__link--active {
  color: #fafafa;
  border-bottom: 3px solid #f1cdb3;
}

.nav--pets .nav__link {
  color: #545454;
}
.nav--pets .nav__link:hover {
  color: #292929;
}
.nav--pets .nav__link--active {
  color: #292929;
  border-bottom: 3px solid #f1cdb3;
}

.not-only {
  background-color: var(--dark-bg);
  background-image: url("../../img/noise_transparent.png"), linear-gradient(310deg, #211f20 40%, #5b483a 100%);
  color: var(--text-primary-light);
}
.not-only__wrapper {
  padding-top: 342px;
  padding-bottom: 244px;
  background: url("../../img/start-screen-puppy.png") no-repeat top 100% right 40px;
}
.not-only__title {
  width: 310px;
  margin: 0;
  color: #ffffff;
  margin-bottom: 42px;
}
.not-only__text {
  width: 460px;
  margin: 0;
  margin-bottom: 42px;
}
.not-only__button {
  color: var(--color-dark);
}

.about__wrapper {
  padding: 77px 215px 98px 215px;
  display: flex;
  justify-content: center;
  gap: 120px;
}
.about__title {
  padding-top: 18px;
  margin: 0;
  margin-bottom: 23px;
}
.about__text {
  margin: 0;
  color: #4c4c4c;
}
.about__text:first-of-type {
  margin-bottom: 25px;
}
.about__img-container {
  order: -1;
}

.our-friends {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: var(--light-bg);
}
.our-friends__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-friends__title {
  margin: 0;
  margin-bottom: 60px;
  width: 400px;
  text-align: center;
  letter-spacing: 0.06em;
}
.our-friends__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 90px;
}
.our-friends__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-friends__container {
  margin-bottom: 60px;
}
.our-friends__rest-button {
  width: 261px;
  color: var(--color-dark);
}

.pet {
  padding-bottom: 30px;
  border-radius: 9px;
  background-color: var(--color-lighten);
}
.pet:hover {
  cursor: pointer;
  background-color: #ffffff;
}
.pet:hover .pet__link {
  border: 2px solid var(--color-primary-light);
  background-color: var(--color-primary-light);
}
.pet__img {
  border-radius: 9px 9px 0 0;
  display: block;
  margin-bottom: 30px;
}
.pet__name {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  color: #545454;
  font-size: 20px;
  line-height: 22.72px;
  letter-spacing: 0.06em;
  text-align: center;
  margin-bottom: 30px;
}
.pet__link {
  width: 187px;
  padding: 12.5px 5px;
  margin-top: auto;
  color: var(--color-dark);
  background-color: var(--color-lighten);
  border: 2px solid var(--color-primary);
}
.pet__link:hover {
  border: 2px solid var(--color-primary-light);
  background-color: var(--color-primary-light);
}

.help {
  padding-top: 80px;
  padding-bottom: 85px;
}
.help__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 125px;
}
.help__title {
  text-align: center;
  margin: 0;
  width: 310px;
  margin-bottom: 40px;
}
.help__list {
  padding: 18px 0;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.help__row1, .help__row2 {
  display: flex;
  flex-wrap: wrap;
  gap: 120px;
}
.help__row1 {
  margin-bottom: 55px;
  justify-content: space-between;
}
.help__row2 {
  justify-content: center;
}
.help__icon {
  display: inline-block;
  text-align: center;
}
.help__subtitle {
  padding-top: 29px;
}
.help__link {
  display: flex;
  flex-direction: column-reverse;
  text-decoration: none;
  align-items: center;
}

.donation {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: var(--light-bg);
}
.donation__wrapper {
  padding: 0 182px;
  background: url("../../img/donation-dog.png") no-repeat 183px 50%;
}
.donation__content {
  margin-left: auto;
  text-align: left;
  width: 380px;
}
.donation__title {
  width: 300px;
  margin-bottom: 20px;
}
.donation__subtitle {
  margin-bottom: 20px;
}
.donation__button {
  margin-bottom: 20px;
  width: auto;
  border-radius: 9px;
  padding: 10px 15px 10px 60px;
  background: var(--color-primary) url("../../icons/credit-card.svg") no-repeat 15px 50%;
}

.footer {
  background-color: var(--dark-bg);
  background-image: url("../../img/noise_transparent.png"), linear-gradient(310deg, #211f20 40%, #5b483a 100%);
}
.footer__wrapper {
  padding-top: 57px;
  padding-bottom: 24px;
  display: flex;
  justify-content: flex-start;
  background: url("../../img/footer-puppy.png") no-repeat top 100% right 40px;
}
.footer__title {
  color: #ffffff;
}
.footer__block {
  margin-right: 160px;
}
.footer__block:last-child {
  margin-right: 0;
}
.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__link {
  text-decoration: none;
  color: var(--color-primary);
}
.footer__link:hover {
  text-decoration: underline;
}

.footer-contacts {
  max-width: 279px;
}
.footer-contacts__title {
  margin-bottom: 34px;
}
.footer-contacts__item {
  padding-left: 60px;
  min-height: 40px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-contacts__item--email {
  background: url("../../icons/icon-email.svg") no-repeat 0 50%;
}
.footer-contacts__item--phone {
  background: url("../../icons/icon-phone.svg") no-repeat 0 50%;
}

.footer-location {
  max-width: 302px;
}
.footer-location__title {
  margin-bottom: 32px;
}
.footer-location__item {
  padding-left: 41px;
  min-height: 40px;
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-location__item--icon {
  background: url("../../icons/icon-marker.svg") no-repeat 0 50%;
}