.about {
  padding-top: 80px;
  padding-bottom: 100px;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    margin: 0;
    margin-bottom: 23px;
  }

  &__text-container {
    width: 50%;
    max-width: 430px;
  }

  &__text {
    margin: 0;
    color: $text-dark;

    &:first-of-type {
      margin-bottom: 25px;
    }
  }

  &__img-container {
    margin-right: 10%;
    order: -1;
  }
}

@media (max-width: 1279px) {
  .about {

    &__wrapper {
      flex-direction: column;
      align-items: center;
    }

    &__text-container {
      width: 100%;
      margin-bottom: 80px;
    }

    &__title {
      margin-bottom: 24px;
    }

    &__img-container {
      margin-right: 0;
      order: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: 767px) {
  .about {
    padding-top: 42px;
    padding-bottom: 42px;

    &__title {
      text-align: center;
    }

    &__text-container {
      padding: 0 15px;
      text-align: justify;
      margin-bottom: 41px;
    }

    &__text {
      &:first-of-type {
        margin-bottom: 22px;
      }
    }
  }
}