.contacts {
  flex-grow: 0.5;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  @include listStyleReset;

  &__item {
    display: flex;
    align-items: center;

    &::before {
      margin-right: 20px;
    }

    &--email::before {
      content: "";
      background: url('../../icons/icon-email.svg') no-repeat 0 0;
      width: 40px;
      height: 32px;
    }

    &--phone::before {
      content: "";
      background: url('../../icons/icon-phone.svg') no-repeat 0 0;
      width: 40px;
      height: 32px;
    }

    &--location::before {
      content: "";
      background: url('../../icons/icon-marker.svg') no-repeat 0 0;
      width: 22px;
      height: 32px;
    }
  }

  &__link {
    max-width: 258px;
    text-decoration: none;
    color: var(--color-primary);
    @extend %transition;

    &:hover {
      color: $primary-light
    }
  }
}

@media (max-width: 1279px) {
  .contacts {
    &__item:first-child {
      margin-bottom: 33px;
    }
  }
}

@media (max-width: 767px) {
  .contacts {
    align-items: center;

    &__item:first-child {
      margin-bottom: 40px;
    }

    &__item--location:last-child {
      align-self: flex-start;
    }
  }

}