.donation {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: var(--light-bg);

  &__wrapper {
    position: relative;
    padding: 0 14.2%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content {
    padding-left: 58.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: url('../../img/donation-dog.png') no-repeat left 0 top 50%;
    background-size: 55% auto;
  }

  &__title {
    max-width: 300px;
    margin-bottom: 20px;
  }

  &__subtitle {
    margin-bottom: 20px;
  }

  &__button {
    margin-bottom: 20px;
    width: auto;
    border-radius: 9px;
    padding: 10px 15px 10px 60px;
    background: var(--color-primary) url('../../icons/credit-card.svg') no-repeat 15px 50%;
  }

  &__text {
    max-width: 380px;
  }
}

@media (max-width: 1280px) {
  .donation {
    &__content {      
      padding: 0 15.3%;
      padding-bottom: 58%;
      background-position: bottom 0 left 50%;
      background-size: 92% auto;
    }
  }
}