.footer {
  padding-top: 40px;
  background-image: url('../../img/noise_transparent.png'),
    linear-gradient(310deg, $gradient-darker 40%, $gradient-lighter 100%);

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__contacts {
    padding: 16px 0 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 0.5;

  }

  &__contacts-title {
    max-width: 279px;
    color: $white;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: max-content;
  }

  &__image {
    flex-shrink: 0;
  }

  &__image-puppy {
    width: 300px;
    height: 310px;
  }
}

@media (max-width: 1279px) {
  .footer {
    padding-top: 30px;

    &__wrapper {
      flex-direction: column;
      padding: 0 8%;
    }

    &__image {
      align-self: center;
    }

    &__contacts {
      padding: 0 0 65px;
    }

    &__contacts-title {
      margin-bottom: 33px;
    }
  }
}