.footer {
  padding-top: 40px;
  background-image: url('../../img/noise_transparent.png'),
    linear-gradient(310deg, $gradient-darker 40%, $gradient-lighter 100%);

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__image-container {
    width: 300px;
    height: 310px;
  }
}