.footer-contacts {
  max-width: 279px;
  &__title {
    margin-bottom: 34px;
  }

  &__item {
    padding-left: 60px;
    min-height: 40px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--email {
      background: url('../../icons/icon-email.svg') no-repeat 0 50%;
    }

    &--phone {
      background: url('../../icons/icon-phone.svg') no-repeat 0 50%;
    }
  }
}