.header {
  position: relative;
  display: flex;

  &__wrapper {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-title {    
    color: $primary;
  }

  &__logo-subtitle {    
    color: $white;
  }
}

.header--pets {
  $logo-title: $title-dark;
  $logo-subtitle: $subtitle-dark;

  position: sticky;
  min-height: 120px;

  .header__wrapper {
    position: static;

    .header__logo-title {
      color: $logo-title;
    }

    .header__logo-subtitle {
      color: $logo-subtitle;
    }
  }
}