.header-container {
  background-color: $bg-dark;
  background-image: url('../../img/noise_transparent.png'),
    linear-gradient(310deg, $gradient-darker 40%, $gradient-lighter 100%);
}

.header {
  padding: 60px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__logo-title {
    color: $primary;
  }

  &__logo-subtitle {
    color: $white;
  }
}

.header--pets {
  background-color: $white;
  $logo-title: $title-dark;
  $logo-subtitle: $subtitle-dark;

  position: sticky;
  top: 0;
  min-height: 120px;

  .header__wrapper {
    position: static;

    .header__logo-title {
      color: $logo-title;
    }

    .header__logo-subtitle {
      color: $logo-subtitle;
    }
  }
}

@media (max-width: 1279px) {
  .header {
    padding: 30px 0 60px;

  }
}

@media (max-width: 767px) {
  .header {
    position: relative;

    &__wrapper {
      max-width: 100%;
    }

    .header__wrapper--open,
    .header__wrapper--nojs {
      background-color: $gray-dark;
      position: absolute;
      padding-top: 30px;
      top: 0;
      right: 0;
      height: 86vh;
      align-items: flex-start;
      max-width: 320px;
      overflow-y: scroll;
    }

    .header__wrapper--nojs {
      position: relative;
      background: none;
    }
  }
}