.help {
  padding-top: 80px;
  padding-bottom: 100px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__subtitle {
    width: 100%;
    text-align: center;
    word-wrap: break-word;
  }

  &__title {
    text-align: center;
    margin: 0;
    max-width: 310px;
    margin-bottom: 59px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 55px;
  }

  &__item {
    width: max-content;
    margin-right: 120px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__icon {
    display: inline-block;
    margin-bottom: 30px;
  }

  &__link {
    display: flex;
    flex-direction: column-reverse;
    text-decoration: none;
    align-items: center;
  }
}

@media (min-width: 1280px) {
  .help {
    &__item {
      &:nth-of-type(5n) {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 1279px) {
  .help {
    &__item {
      margin-right: 0;
      width: calc(100% / 3);
    }

    &__wrapper {
      padding: 0 5.1%;
    }
  }
}

@media (max-width: 767px) {
  .help {
    padding: 42px 0;

    &__list {
      row-gap: 30px;
      justify-content: space-between;
    }

    &__item {
      width: calc(50% - 15px);
    }

    &__title {
      margin-bottom: 41px;
    }

    &__icon {
      width: 50px;
      height: 50px;
      margin-bottom: 20px;
    }
  }
}