.nav {
  flex-grow: 0.16;
  flex-shrink: 1;

  &__list {
    @include listStyleReset;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__link {
    color: $link;
    width: max-content;
    @extend %transition;

    &:hover {
      color: $link-hover;
    }

    &--active {
      color: $link-active;
      border-bottom: 3px solid $border-link;
    }
  }
}

.nav--close {
  display: none;
}

.nav--pets {
  $link: $gray;
  $link-hover: $gray-dark;
  $link-active: $gray-dark;

  .nav__link {
    color: $link;

    &:hover {
      color: $link-hover;
    }

    &--active {
      pointer-events: none;
      color: $link-active;
      border-bottom: 3px solid $border-link;
    }
  }
}

@media (max-width: 1100px) {
  .nav {
  flex-grow: 0.58;
  }
}