.nav {
  flex-grow: 1;

  &__list {
    @include listStyleReset;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  &__item:not(.nav__item:last-child) {
    margin-right: 35.9px;
  }

  &__link {
    @extend %transition;
    @extend %link;
    color: $link;
    font-size: 1.5rem;
    line-height: 1.6em;

    &:hover {
      color: $link-hover;
    }

    &--active {
      color: $link-active;
      border-bottom: 3px solid $border-link;
    }
  }
}

.nav--pets {
  $link: $gray;
  $link-hover: $gray-dark;
  $link-active: $gray-dark;

  .nav__link {
    color: $link;

    &:hover {
      color: $link-hover;
    }

    &--active {
      pointer-events: none;
      color: $link-active;
      border-bottom: 3px solid $border-link;
    }
  }
}

@media (max-width: 767px) {

  .nav {
    display: none;
  }

  .nav--open, .nav--nojs {
    display: block;

    .nav__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .nav__item:not(.nav__item:last-child) {
      margin: 0;
      margin-bottom: 40px;
    }

    .nav__link {
      font-size: 3.2rem;
      line-height: 5.1rem;
    }
  }
}