.not-only {
  background-color: $bg-dark;
  background-image: url('../../img/noise_transparent.png'),
    linear-gradient(310deg, $gradient-darker 40%, $gradient-lighter 100%);
  color: var(--text-primary-light);

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 342px;
    padding-bottom: 244px;
    background: url('../../img/start-screen-puppy.png') no-repeat top 100% right 40px;
  }

  &__title {
    width: 310px;
    margin: 0;
    color: $white;
    margin-bottom: 42px;
  }

  &__text {
    width: 460px;
    margin: 0;
    margin-bottom: 42px;
  }

  &__button {
    color: var(--color-dark);
  }
}

@media (max-width: 1100px) {
  .not-only {
    &__wrapper {
      padding: 150px 100px 693px 100px;
      background: url('../../img/start-screen-puppy-tablet.png') no-repeat top 100% right 30px;
      align-items: center;
    }

    &__title-container {
      padding-right: 154px
      ;
    }
  }
}