.not-only {
  padding-top: 180px;
  background-color: $bg-dark;
  background-image: url('../../img/noise_transparent.png'),
    linear-gradient(310deg, $gradient-darker 40%, $gradient-lighter 100%);
  color: var(--text-primary-light);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    max-width: 461px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    max-width: 310px;
    margin: 0;
    color: $white;
    margin-bottom: 42px;
  }

  &__text {
    width: 100%;
    margin: 0;
    margin-bottom: 41px;
  }

  &__button {
    color: var(--color-dark);
  }
}

@media (max-width: 1280px) {
  .not-only {
    padding-top: 151px;

    &__wrapper {
      flex-direction: column;
    }

    &__content {
      align-items: flex-start;
      padding-bottom: 0;
      margin-bottom: 100px;

    }

    &__img-container {
      align-self: flex-end;
    }

    &__text {
      width: 100%;
    }

    &__button {
      align-self: center;
    }
  }
}