.not-only {
  color: var(--text-primary-light);

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    flex-basis: 39%;
  }

  &__title {
    margin: 0;
    color: $white;
    margin-bottom: 42px;
  }

  &__text {
    margin: 0;
    margin-bottom: 41.64px;
  }

  &__button {
    color: var(--color-dark);
  }
}

@media (max-width: 1279px) {
  .not-only {

    &__wrapper {
      flex-direction: column;
      justify-content: flex-start;
    }

    &__content {
      padding-bottom: 0;
      margin-bottom: 100px;
    }

    &__img-container {
      align-self: flex-end;
    }

    &__text {
      max-width: 460px;
    }

    &__button {
      align-self: center;
    }
  }
}

@media (max-width: 767px) {
  .not-only {
    &__content {
      text-align: center;
      margin-bottom: 104.39px;
    }
  }
}