@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Georgia-Regular.woff2') format('woff2'),
       url('/fonts/Georgia-Regular.woff') format('woff');
}

@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Arial-Regular.woff2') format('woff2'),
       url('/fonts/Arial-Regular.woff') format('woff');
}

