.page {
  font-size: 10px;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.body {
  min-width: 320px;
}

.wrapper {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1280px;
  padding: 0 40px;
}

@media (max-width: 1279px) {
  .wrapper {
    max-width: 768px;
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    max-width: 320px;
    padding: 0 10px;
  }
}