:root {
  --light-bg: #f6f6f6;
  --color-dark: #292929;
  --text-primary-light: #cdcdcd;
  --color-primary:#f1cdb3;
  --color-primary-light:#fddcc4;
  --color-lighten: #fafafa;
}

// scss vars
$white: #ffffff;

$primary: #f1cdb3;
$gray-light: #cdcdcd;
$gray-lighten: #fafafa;
$gradient-lighter: #5b483a;
$gradient-darker: #211f20;
$title-dark: #545454;
$subtitle-dark: #292929;
$text-dark: #4c4c4c;
$text-lightgray: #b2b2b2;
$inactive: #cdcdcd;
$brown-dark: #262425;

$gray: #545454;
$gray-dark: #292929;
$light: #f6f6f6;


// blocks
 
$logo-title: $primary;
$logo-subtitle: $white;
$link: $gray-light;
$link-hover: $gray-lighten;
$link-active: $gray-lighten;
$border-link: $primary;
$bg-color: $light;
$bg-dark: $brown-dark;
$button-text: $gray-dark;
