:root {
  --dark-bg: #262425;
  --color-dark: #292929;
  --text-primary-light: #cdcdcd;
  --color-primary:#f1cdb3;
  --color-primary-light:#fddcc4;
  --color-lighten: #fafafa;
}

// scss vars
$white: #ffffff;
$gradient-lighter: #5b483a;
$gradient-darker: #211f20;
